<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        FoodDance -
        {% block title_block %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block css_block %}
    {% endblock %}
    <link href="{% static 'css/b5_base.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    {% if alert_message  %}
        <div id="alert_message" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ alert_message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}


    <div id="header" class="header-block ">
        <div class="row justify-content-end">
           {% if user.is_authenticated %}
                <div class="col-md-2 col-md-offset-7 logout_grid login_text" >Welcome, {{ user.username }}</div>
                <div class="col-md-1 logout_grid"><a href="" class="login_text">My Profile</a></div>
                <div class="col-md-1 logout_grid"><a href="admin/fooddance/recipe/add/" class="login_text">Add Recipe</a></div>
                <div class="col-md-1"><a href="{% url 'fooddance:logout' %}" class="login_text">Log Out
                    <img src={% static 'images/logout.svg' %}/></a></div>

            {% else %}
                <div class="col-md-1 col-md-offset-10 login_grid"><a href="{% url 'fooddance:user_login' %}" class="login_text"><img src={% static 'images/login.svg' %}/>
                    Login</a></div>
                <div class="col-md-1"><a href="{% url 'fooddance:user_register' %}"  class="login_text"><img src={% static 'images/signup.svg' %}/>
                    Sign Up</a></div>

            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1"><img src="{% static 'images/logo_white.png' %}" alt="Logo" width="600"/><br/></div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'fooddance:index' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fooddance:all_recipes' %}">ALL RECIPES</a>
                    </li>
                </ul>
                </div>
                <form class="d-flex" method="get" action="{% url 'fooddance:search' %}">
                    <input class="form-control me-3 px-4" type="text" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-light me-3" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- main content should display in this div -->
            <div  id="mainbox" class="col-lg-8 col-md-10 col-sm-12 mainArea shadow-lg" >
                    {% block body_block %}
                    {% endblock %}
           </div>
        </div>
    </div>

    <div id="footerbox" class="container-fluid">
        <div id="footerrow" class="row justify-content-center">
               <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2021 WedDance@UofG</p>

                <a  href="{% url 'fooddance:index' %}" class="col-md-2 d-flex align-items-center justify-content-end mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                 <img  id="footer_logo" width="40" height="40" src="{% static "images/logo_pink.png" %}">
                </a>

                <a href="https://github.com/WebDance-UofG/FoodDance" class="col-md-2 d-flex align-items-center justify-content-start mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                     <img width="40" height="40" src="{% static "images/GitHub-Mark-32px.png" %}">
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="{% url 'fooddance:index' %}" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="{% url 'fooddance:all_recipes' %}" class="nav-link px-2 text-muted">All Recipes</a></li>
                   {% if user.is_authenticated %}
                       <li class="nav-item"><a href="{%  url 'fooddance:logout' %}" class="nav-link px-2 text-muted">Login</a></li>
                   {% else %}
                       <li class="nav-item"><a href="{%  url 'fooddance:user_login' %}" class="nav-link px-2 text-muted">Login</a></li>
                         <li class="nav-item"><a href="{% url 'fooddance:user_register' %}" class="nav-link px-2 text-muted">Sign Up</a></li>
                    {% endif %}
                </ul>
          </footer>
        </div>
    </div>

</body>
</html>