<!doctype html>
{% extends 'fooddance/b5_base.html' %}
{% load staticfiles  %}

{% block title_block %}
    All Recipes
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/all_recipes.css' %}">
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-md-6"><p class="all-recipes">All Recipes</p></div>
    </div>
    <div class="container">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="col-md-3 recom-recipe-bg">
                        <div class="thumbnail">
                            <a href="#"><img src="{{ MEDIA_URL }}/{{ recipe.image }}" alt="recipe_1" class="recipe-image"/></a>
                        </div>
                        <div class="caption">
                            <p class="recom-recipe-title">{{ recipe.title }}</p>
                            <div>
                                <div class="recipe-block3">
                                    <span class="glyphicon glyphicon-star recom-recipe-icon-yellow"><p class="recom-recipe-det">{{ recipe.avg }}</p></span>
                                    <span class="glyphicon glyphicon-time recom-recipe-icon-red"><p class="recom-recipe-det">{{ recipe.during }}min</p></span>
                                    <span class="glyphicon glyphicon-user recom-recipe-icon-blue"><p class="recom-recipe-det">{{ recipe.author }}</p></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}

