<!doctype html>
{% extends 'fooddance/b5_base.html' %}
{% load staticfiles  %}

{% block title_block %}
    All Recipes
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/all_recipes.css' %}">
{% endblock %}

{% block body_block %}
    <p class="all-recipes">All Recipes</p>
    <div class="container">
        <div class="row">
        {% if recipes %}
            {% for recipe in recipes %}
                <div class="col-4">
                    <a href="{% url 'fooddance:detail' recipe.slug %}" class="card recipe-bg">
                        <div class="card recipe-block1">
                            <img src="{{ MEDIA_URL }}/{{ recipe.image }}" class="card-img-center recipe-pic" alt="recipe-img"/>
                        </div>
                        <div class="recipe-block2">
                            <p class="text-center recipe-title">{{ recipe.title }}</p>
                        </div>
                        <div class="recipe-block3">
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-sm-12">
                                    <img src="{% static 'images/riFill-star-fill.svg' %}" class="recipe-icon" alt="rate-icon"/>
                                    <p class="recipe-text">{{ recipe.avg }}</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img src="{% static 'images/md-access_time.svg' %}" class="recipe-icon" alt="time-icon"/>
                                    <p class="recipe-text">{{ recipe.during }} min</p>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img src="{% static 'images/user-icon.svg' %}" class="recipe-icon" alt="user-icon"/>
                                    <p class="recipe-text">{{ recipe.author }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}

