<!DOCTYPE html>
{% extends 'fooddance/b5_base.html' %}
{% load staticfiles %}

{% load setting_tag %}

{% block title_block %}
    FoodDance - {{ recipe.title }}
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block extra_script %}
<script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=954783455088335&autoLogAppEvents=1" nonce="FGxtFXrQ"></script>
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}


{% block body_block %}
<div class="row" id="topSmallRow">
    <div class="col-md-7 col-sm-12 ">
        <img src="{{ MEDIA_URL }}{{ recipe.image }}" class="img-fluid bigImg" alt="main picture of recipe">
    </div>
    <div class="col-md-5 col-sm-12 ">

        <div class="row">
            <h3>{{ recipe.title }}</h3>
        </div>


        <div class="row justify-content-left g-0 " >
            <div class="col-1">
                {% if author_profile.image  %}
                 <img id="avatar" class="avatar rounded-circle" src="{{ MEDIA_URL }}{{ author_profile.image }}" alt="Avatar image">
                {% else %}
                <img id="avatar" class="avatar rounded-circle" src="{{ MEDIA_URL }}avatars/default.png" alt="Avatar image">
                {% endif %}
            </div>
            <div class="col userName">
                <p id="userName">{{ recipe.author.username }}</p>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h6 class="secondary">{{ recipe.pub_date }}</h6>
            </div>
            <div class="col-lg-6 clear_padding">
                 <img class="smallIcon" src="{% static 'images/rating.svg' %}">
                 <h6>{{ avg }}/5</h6>
            </div>
        </div>
        <hr />
         <div class="row align-items-end justify-content-center">
             <div class="col">
                   <img class="middleIcon" src="{% static 'images/duration.svg' %}">
             </div>
             <div class="col">
                    <p class="clearBottomMargin">Duration</p>
             </div>
             <div class="col">
                    <p class="clearBottomMargin">{{ recipe.duration }} mins</p>
             </div>
        </div>
        <div class="row align-items-end justify-content-center">
             <div class="col">
                   <img class="middleIcon" src="{% static 'images/difficulty.svg' %}">
             </div>
             <div class="col">
                    <p class="clearBottomMargin">Difficulty</p>
             </div>
             <div class="col">
                    {% if recipe.difficulty >= 4 %}
                        <p class="clearBottomMargin">Difficult</p>
                    {% elif recipe.difficulty > 3 %}
                        <p class="clearBottomMargin">Medium</p>
                    {% else %}
                        <p class="clearBottomMargin">Easy</p>
                    {% endif %}
             </div>
        </div>
        <div class="row align-items-end justify-content-center">
             <div class="col">
                   <img class="middleIcon" src="{% static 'images/budget.svg' %}">
             </div>
             <div class="col">
                    <p class="clearBottomMargin">Budget</p>
             </div>
             <div class="col">
                 <p class="clearBottomMargin">￡ {{ recipe.budget }}</p>
             </div>
        </div>
        <hr />
        <div class="row justify-content-center area3">
            <div class="col">
                <img class="area3Icon" src="{% static 'images/views.svg' %}">
                <p class="area3Text ">Views</p>
                <p class="area3Text">{{ recipe.views }}</p>
            </div>
            <div class="col">
                 {% if user.is_authenticated %}
                     {% if hasLike %}
                         <img id="likeIcon" onclick="likeIt({{ recipe.id }}, {{ user.id }})" class="area3Icon" src="{% static 'images/like.svg' %}">
                      {% else %}
                           <img id="likeIcon" onclick="likeIt({{ recipe.id }}, {{ user.id }})" class="area3Icon" src="{% static 'images/dislike.svg' %}">
                      {% endif %}
                 {% else %}
                           <img id="likeIcon" onclick="login()" class="area3Icon" src="{% static 'images/like.svg' %}">
                 {% endif %}
                <p class="area3Text ">Likes</p>
                <p id="likeAmount" class="area3Text">{{ likes }}</p>
            </div>
            <div class="col">
                {% if user.is_authenticated %}
                    {% if hasCollect %}
                          <img id="collectIcon"  class="area3Icon" onclick="collectIt({{ recipe.id }}, {{ user.id }})"  src="{% static 'images/collect.svg' %}">
                    {% else %}
                          <img id="collectIcon"  class="area3Icon" onclick="collectIt({{ recipe.id }}, {{ user.id }})"  src="{% static 'images/discollect.svg' %}">
                    {% endif %}
                 {% else %}
                    {% if hasCollect %}
                          <img id="collectIcon" class="area3Icon" onclick="login()"  src="{% static 'images/collect.svg' %}">
                    {% else %}
                          <img id="collectIcon" class="area3Icon" onclick="login()"  src="{% static 'images/discollect.svg' %}">
                    {% endif %}
                {% endif %}
                <p class="area3Text ">Collect</p>
                <p id="collectAmount"  class="area3Text">{{ collect }}</p>
            </div>
           <div class="col">
                <img data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="area3Icon" src="{% static 'images/share.svg' %}">

               <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Select a platform to share</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body"">
                            <a target="view_window" class="twitter-share-button" onclick="share({{ recipe.id }})"
                              href="https://twitter.com/intent/tweet?text={% setting_tag 'WEB_URL' %}/detail/{{ recipe.slug }}"
                              data-size="large">
                            Tweet</a>
                          <div onclick="share({{ recipe.id }})" class="fb-share-button" data-href="http://127.0.0.1:8000/detail/{{ recipe.slug }}/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fdetail%2F{{ recipe.slug }}%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Facebook</a></div>

                      </div>
                    </div>
                  </div>
                </div>

                <p class="area3Text ">Share</p>
                <p id="shareAmount" class="area3Text">{{ recipe.shares }}</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <p class="h3">Materials</p>
    {% for material in materials %}
        <div class="col-6">
            <p>{{ material.ingredient  }}</p>
        </div>
        <div class="col">
            <p>{{ material.weight }} </p>
        </div>

    {% endfor %}
</div>


<div class="row">
    <p class="h3">Overview</p>
    <p>
      {{ recipe.overview }}
    </p>
</div>


<div class="row  align-items-center">
    {% for step in steps %}
      <p class="h4 stepTitle">Step {{ step.index }}</p>
          {% if step.image %}
          <div class="col-md-3 col-sm-12">
              <img class="stepImg img-fluid"  src="{{ MEDIA_URL }}{{ step.image }}">
          </div>
          {% endif %}
      <div class="col">
          <p>{{ step.content }}</p>
      </div>
    {% endfor %}
</div>
<hr />

{% if user.is_authenticated %}
<div class="row align-items-center">
    <p class="h4">Write your comment</p>
    <form id="submit_comment" method="POST" action="{% url 'fooddance:detail' recipe.slug  %}">
        {% csrf_token %}

        {% if showRating %}
            <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="ratingRadioOptions" id="inlineRadio1" value="1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="ratingRadioOptions" id="inlineRadio2" value="2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="ratingRadioOptions" id="inlineRadio3" value="3">
                  <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="ratingRadioOptions" id="inlineRadio4" value="4">
                  <label class="form-check-label" for="inlineRadio3">4</label>
            </div>
            <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="ratingRadioOptions" id="inlineRadio5" value="5">
                  <label class="form-check-label" for="inlineRadio3">5</label>
            </div>
        {% endif %}

        {% if showComment %}
              <label for="content" class="form-label">Comment:</label>
              <textarea class="form-control" name="content" id="content" rows="3"></textarea>
        {% endif %}
        <br/>
        {% if showComment or showRating %}
        <input class="btn btn-primary" type="submit" name="submit" value="Comment!" />
        {% else %}
            <div class="alert alert-primary" role="alert">
                Your had submitted the rating and comment.
            </div>
        {% endif %}
    </form>
</div>
{% endif %}

<hr />
<div class="row align-items-center ">
    {% if comments %}
        {% for comment in comments %}
            <div class="col-1">
                {% if not comment.user.image %}
                     <img id="avatar" class="avatar rounded-circle" src="{{ MEDIA_URL }}avatars/default.png" alt="Avatar image">
                {% else %}
                       <img id="avatar" class="avatar rounded-circle" src="{{ MEDIA_URL }}{{ comment.user.image }}" alt="Avatar image">
                {% endif %}
            </div>
            <div class="col-1"><p>{{ comment.user.username }}</p></div>
                <blockquote class="blockquote commentsArea">
                    <p>{{ comment.content }}</p>
                </blockquote>

        {% endfor %}
    {% endif %}
</div>
    <script src="{% static 'js/detail.js' %}"></script>


{% endblock %}