<!doctype html>
{% extends 'fooddance/b5_base.html' %}
{% load staticfiles  %}

{% block title_block %}
    Homepage
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block body_block %}

    <p class="todays-top">Today's Top</p>
    <div class="row justify-content-center">
        <div class="row align-items-center top-recipe-background">
            <div class="col-md-7 col-sm-12">
                <p class="top-recipe-title">Scrambled Egg with Tomato</p>
                <p class="top-recipe-author">@Author</p>
                <div>
                    <img src="{% static 'images/ze-comment-o.svg' %}" class="top-recipe-comment-icon"/>
                    <img src="{% static 'images/comment_stars.png' %}" class="top-recipe-comment-star"/>
                    <p class="top-recipe-comment">"Very tasty and easy to cook !! I love this recipe !!"</p>
                </div>
                <div class="top-recipe-detail-div">
                    <img src="{% static 'images/md-access_time.svg' %}" class="top-recipe-icon"/>
                    <p class="top-recipe-text">Duration</p>
                    <p class="top-recipe-text">45mins</p>

                </div>
                <div class="top-recipe-detail-div">
                    <img src="{% static 'images/stLine-cup-l Copy.svg' %}" class="top-recipe-icon"/>
                    <p class="top-recipe-text">Difficulty</p>
                    <p class="top-recipe-text">Easy</p>
                </div>
                <div class="top-recipe-detail-div">
                    <img src="{% static 'images/ze-notes-o.svg' %}" class="top-recipe-icon"/>
                    <p class="top-recipe-text">Overview</p>
                    <p class="top-recipe-text">A kind of classic recipes</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/top_recipe_cover_1.png' %}" class="img-fluid"/>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-6"><p class="todays-top">Recommendation</p></div>
    </div>
    <div class="container">
        <div class="row">
        {% if recipes %}
            {% for recipe in recipes %}
                <div class="col-3 justify-content-center">
                    <div class="card recom-recipe-bg">
                        <div class="recom-recipe-block1 align-items-center ">
                            <img src="{{ MEDIA_URL }}/{{ recipe.image }}" class="img-fluid"/>
                        </div>
{#                        <img src="{{ MEDIA_URL }}/{{ recipe.image }}" class="card-img-top img-fluid"/>#}
                        <div class="card-body">
                            <p class="text-center recom-recipe-title">{{ recipe.title }}</p>
                            <a href="{% url 'fooddance:detail' recipe.slug %}" class="btn btn-primary">Detail</a>
                        </div>
                    </div>
{#                    <div class="caption">#}
{#                        <p class="recom-recipe-title">{{ recipe.title }}</p>#}
{#                        <div class="row recom-recipe-row">#}
{#                            <div class="col-md-3 recom-recipe-block">#}
{#                                <span class="glyphicon glyphicon-star recom-recipe-icon-yellow"></span>#}
{#                                <b class="recom-recipe-det">{{ recipe.avg }} / 5</b>#}
{#                            </div>#}
{#                            <div class="col-md-3 recom-recipe-block">#}
{#                                <span class="glyphicon glyphicon-time recom-recipe-icon-red"></span>#}
{#                                <b class="recom-recipe-det">{{ recipe.during }}min</b>#}
{#                            </div>#}
{#                            <div class="col-md-5 recom-recipe-block">#}
{#                                <span class="glyphicon glyphicon-user recom-recipe-icon-blue"></span>#}
{#                                <b class="recom-recipe-det">{{ recipe.author }}</b>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="col-md-10 col-md-offset-1"> <a class="btn btn-default others-findall" href="{% url 'fooddance:all_recipes' %}" role="button">Click Here, Find More Recipes!</a></div>
    </div>
{% endblock %}