<!DOCTYPE html>
{% extends 'fooddance/b5_base.html' %}
{% load staticfiles %}

{% block title_block %}
    FoodDance - Login
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-8">
					<div class="text-center my-5">
						<img class=" shadow-lg" src="{% static 'images/logo_pink.png' %}" alt="logo" width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
							<form method="POST" action="/login/" class="needs-validation" novalidate="" autocomplete="off">
								{% csrf_token %}
                                <div class="mb-3">
									<label class="mb-2 text-muted" for="username">Username</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
									<div class="invalid-feedback">
										Username is required
									</div>
								</div>

								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="password">Password</label>
									</div>
									<input id="password" type="password" class="form-control" name="password" required>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>
                                <div class="d-flex  justify-content-center">
									<button type="submit" class="btn btn-primary">
										Login
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Don't have an account? <a href="" class="text-dark">Create One</a>
							</div>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2021 &mdash; WedDance@UofG
					</div>
				</div>
			</div>
		</div>
	</section>
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}