<!DOCTYPE html>
{% extends 'fooddance/b5_base.html' %}
{% load staticfiles %}

{% block title_block %}
    FoodDance - SignUp
{% endblock %}


{% block body_block %}
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class=col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-8">
					<div class="text-center my-5">
						<img src="{% static 'images/logo_pink.png' %}" alt="logo" width="100">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
							<form method="POST" action="{% url 'fooddance:user_register' %}" class="needs-validation" novalidate="" autocomplete="off">
								{% csrf_token %}
                                <div class="mb-3">
									<label class="mb-2 text-muted" for="username">Username</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
									<div class="invalid-feedback">
										username is required
									</div>
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required>
									<div class="invalid-feedback">
										Email is invalid
									</div>
								</div>

								<div class="mb-3">
									<label class="mb-2 text-muted" for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" required>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

{#								<p class="form-text text-muted mb-3">#}
{#									By registering you agree with our terms and condition.#}
{#								</p>#}

								<div class="align-items-center">
									<button type="submit" class="btn btn-primary">
										Register
									</button>
								</div>
							</form>
						</div>


                        {% if error %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              {{ error }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}


						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Already have an account? <a href="{% url 'fooddance:user_login' %}" class="text-dark">Login</a>
							</div>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2021 &mdash; WedDance@UofG
					</div>
				</div>
			</div>
		</div>
	</section>

    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}