.all-recipes{
    margin-top: 30px;
    font-size: 24px;
    font-family: Copperplate, Fantasy;
    margin-bottom: 20px;
}

.recipe-bg{
    height: 300px;
    background-color: #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #E6E6E6;
    margin-bottom: 15px;
    text-decoration: none;
}
.recipe-bg:hover{
    height: 310px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    text-decoration: none;
}
.recipe-bg:active{
    height: 310px;
    background-color: #F2F2F2;
    border-radius: 2px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    text-decoration: none;
}
.recipe-block1{
    height: 70%;
    background-color: white;
    align-items: center;
    text-align: center;
}
.recipe-pic{
    display: block;
    max-height: 100%;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
.recipe-block2{
    padding-top: 10px;
    height: 15%;
    text-align: center;
}
.recipe-title{
    color: #555555;
    font-weight: bold;
    margin-bottom: 18px;
    font-size: 14px;
}
.recipe-block3{
    height: 15%;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.recipe-icon{
    width: 16px;
    margin-right:3px;
    height: auto;
}
.recipe-text{
    text-decoration: none;
    color:#7F7F7F;
    font-size: 12px;
    font-weight: bold;
}
.others-findall{
    margin-top: 30px;
    width: 100%;
    align-content: center;
    text-align: center;
    text-decoration-color: #7F7F7F;
}