.all-recipes{
    margin-top: 30px;
    font-size: 24px;
    font-family: Copperplate, Fantasy;
    margin-bottom: 20px;
    margin-left: 20%;
}

.recom-recipe-bg{
    max-width: 80%;
    height: 300px;
    padding: 0px 5px;
    background-color: #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #E6E6E6;
    margin: 5px;
}
.recom-recipe-title{
    color: #555555;
    font-weight: bold;
    text-align: center;
    margin-bottom: 28px;
    text-decoration: none;
}
.recipe-block3-div{
    white-space: nowrap;
    margin-bottom: 20px;
    margin-right:0px;
}
.recom-recipe-det{
    text-decoration-color: #F2F2F2;
    font-size: 12px;
    display: inline;
    padding-left: 5px;
    font-weight: bold;
    margin-right:10px;
}
.recom-recipe-icon-yellow{
    padding-left:0px;
    color: orange;
}
.recom-recipe-icon-red{
    padding-left:0px;
    color:red;
}
.recom-recipe-icon-blue{
    padding-left:0px;
    color:dodgerblue;
}
.recom-recipe-row{
    margin-bottom: 10px;
    position:absolute;
}
