.login_text{
    color: #ffffff;
    font-weight:bold;
    text-decoration: none;
}
.login_text:hover{
    color: #A3A3A3;
    font-weight:bold;
    border-color: #A3A3A3;
    text-decoration: none;
    background-color: #212529;
}
.header-block{
    /*background-image: url("../images/header_background.jpg");*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 100%;*/
    /*height: auto;*/
    background-color: #212529;
    height: auto;
}
.header-img{
    max-width: 100%;

}
.search{
    width: 350px;
    box-sizing: border-box;
    border: 1px solid darkgrey;
    border-radius: 2px;
    height:35px;
}
.button-search{
    background-color: #D7D7D7;
    border-radius:4px;
    border-color: #D7D7D7;
    width: 80px;
    height: 36px;
    text-align: center;
}
.button-search:hover {
  background-color: darkgrey;
    color: #ffffff;
}
.button-category{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-family: Copperplate, Fantasy;
    float: left;
}

.tail-block{
    /*background-image: url("../images/header_background.jpg");*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 100%;*/
    /*height: auto;*/
    background-color: #212529;
    height: 200px;
}

