.todays-top{
    margin-top: 30px;
    font-size: 24px;
    font-family: Copperplate, Fantasy;
    margin-bottom: 20px;
}
.top-recipe-background{
    width: 90%;
    background-color: #F2F2F2;
    height: auto;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #E6E6E6;
}
.top-recipe-title{
    padding-left: 0px;
    margin-top: 30px;
    margin-left:10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.top-recipe-author{
    margin-left:10px;
    text-align: left;
    font-size: 14px;
}
.top-recipe-comment-icon{
    width:25px;
    height: auto;
    margin-right: 5px;
}
.top-recipe-comment-star{
    width: 100px;
    height:auto;
}
.top-recipe-comment{
    margin-left:10px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    margin-top: 10px;
}
.top-recipe-detail-div{
    margin-bottom: 10px;
}
.top-recipe-icon{
    width:20px;
    height:auto;
    display:inline;
}
.top-recipe-text{
    font-size: 14px;
    display:inline;
    margin-left: 2%;
    margin-top: 20px;
}

.recom-recipe-bg{
    height: 300px;
    background-color: #F2F2F2;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #E6E6E6;
    margin-bottom: 5px;
}
.recom-recipe-block1{
    height: 60%;
    background-color: white;
}
.recom-recipe-title{
    color: #555555;
    font-weight: bold;
    margin-bottom: 24px;
    text-decoration: none;
}
.recom-recipe-det{
    text-decoration-color: #F2F2F2;
    font-size: 12px;
}
.recom-recipe-block{
    padding: 0px 0;
}
.recom-recipe-icon-yellow{
    margin-right:3px;
    padding-left:0px;
    color: orange;
}
.recom-recipe-icon-red{
    margin-right:3px;
    padding-left:0px;
    color:red;
}
.recom-recipe-icon-blue{
    margin-right:3px;
    padding-left:0px;
    color:dodgerblue;
}
.recom-recipe-row{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.others-findall{
    margin-top: 30px;
    width: 100%;
    align-content: center;
    text-align: center;
}