.container {
    margin-top: 70px;
    width: 60%;
    margin-left: 0 auto;
}

.inline-style {
    display: inline-block;
}

.signin-btn{
    background-color: #555555;
    border-radius: 4px;
    border-color: #555555;
    color: #FFFFFF;
}

